$colorOrange: #FF6847;
$colorGrey: #474646;
$colorBlack: #2C2C2C;
$colorWhite: #F7F3EF;

@font-face {
    font-family: "open-sans";
    src: url("../../fonts/OpenSans-Regular.ttf");
}

*, ::before, ::after{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    }

body{
    background-color: $colorBlack;
    height: 100vh;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 50px;
    overflow: hidden;
    font-family: "open-sans";
    main{
        grid-column: 1;
        grid-row: 1;
    }
    nav{
        grid-column: 2;
        grid-row: 1;
    }
}