$colorOrange: #FF6847;
$colorGrey: #474646;
$colorBlack: #2C2C2C;
$colorWhite: #F7F3EF;

*, ::before, ::after{ 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    }

body{
    background-color: $colorBlack;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 50px;
    overflow: hidden;
    main{
        grid-column: 1;
    }
    nav{
        grid-column: 2;
    }
}