$colorOrange: #FF6847;
$colorGrey: #474646;
$colorBlack: #2C2C2C;
$colorWhite: #F7F3EF;

main{
    height: 100%;
    .musique-scroll::-webkit-scrollbar{
        width: 0;
    }
    .musique-scroll{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scrollbar-color: rgba(0,0,0,0);
    }
    h2, p , img
    {
        color: $colorWhite;
    }
    .pills-container{
        display: flex;
        justify-content: space-evenly;
        margin: 1rem;
        width: 120%;
        scroll-snap-align: center;
        flex: 0 0 auto;
        scrollbar-color: rgba(0,0,0,0);
    }
    .pills{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $colorOrange;
        width: 250px;
        height: 100px;
        border-radius: 23px;
        margin: 1rem;

        img{
            width: 50%;
            height: 100%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        .pills-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-left: 2px solid $colorOrange;
            width: 50%;
            height: 100%;
        }
    }
    
    .card-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1rem;
        width: 120%;
        scroll-snap-align: center;
        flex: 0 0 auto;
        .card
        {
            width: 250px;
            height: 250px;
            border: 2px solid $colorOrange;
            border-radius: 25px;
            margin: 1rem;
            img
            {
                width: 100%;
                height: 50%;
                border-top-left-radius: 22px;
                border-top-right-radius: 22px;
                border-bottom: 2px solid $colorOrange;
            }
            .card-content
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 50%;
            }
        }
    }
}